<div class="container-fluid overflow-hidden py-5" style="background-color: #565656; min-height: 100vh;">
    <!-- <h2 class="text-light text-center pb-4 fs-1 fw-bolder">Thank You!</h2> -->
    <!-- <div class="popper"></div>
    <div style="height: 70vh;" class=" container justify-content-center d-flex align-items-center flex-column gap-4">
        <img src="../assets/images/thankyou.gif" alt="thank you" style="margin-top: 5em; " class="img-fluid">
        <button class="btn btn-success" routerLink="/">Continue Shopping</button>
    </div> -->
    <div class="container">
        <ngb-accordion [closeOthers]="true" activeIds="static-1" class="accordion-dark">

            <ngb-panel id="static-1" cl>
                <ng-template ngbPanelTitle>
                    <button class="btn btn-primary btn-sm">1</button> <span
                        class="fs-6 ps-3 fw-bold cap text-dark">LOGIN OR SIGNUP</span>
                </ng-template>
                <ng-template ngbPanelContent>
                    <div class="row px-md-4 py-2">
                        <div
                            class="col-12 col-lg-6 d-flex justify-content-center align-items-center flex-column gap-4 px-4">
                            <input type="text" placeholder="Enter email/mobile number"
                                class="form-control shadow-none rounded-0 border-top-0 border-end-0 border-start-0">
                            <p class="fs-6 text-secondary">By continuing, you agree to shopNow's <span
                                    class="text-primary">Terms of Use</span> and <span class="text-primary">Privacy
                                    Policy.</span></p>
                            <button class=" w-100 btn btn-warning rounded-0">Continue</button>
                        </div>
                        <div class="col-12 col-lg-6 pt-4 pt-md-0">
                            <span class="text-secondary fs-6"> Advantages of our secure login</span>
                            <p class="text-left mt-4">
                                <fa-icon [icon]="faTruck"></fa-icon> Easily Track Orders, Hassle free Returns
                            </p>
                            <p class="text-left">
                                <fa-icon [icon]="faBell"></fa-icon> Get Relevant Alerts and Recommendation
                            </p>
                            <p class="text-left">
                                <fa-icon [icon]="faStar"></fa-icon> Wishlist, Reviews, Ratings and more.
                            </p>
                        </div>
                    </div>
                </ng-template>
            </ngb-panel>

            <ngb-panel id="static-2">
                <ng-template ngbPanelTitle>
                    <button class="btn btn-primary btn-sm">2</button> <span
                        class="fs-6 ps-3 fw-bold cap text-dark">DELIVERY ADDRESS</span>
                </ng-template>
                <ng-template ngbPanelContent>

                    <form action="/">
                        <div class="d-flex justify-content-around flex-wrap align-content-start">
                            <div class="mb-3 w-100">
                                <label for="exampleFormControlInput1" class="form-label">Pincode</label>
                                <input type="number onwheel= this.blur()" class="form-control"
                                    id="exampleFormControlInput1" placeholder="403716">
                            </div>
                            <div class="mb-3 w-100">
                                <label for="exampleFormControlInput1" class="form-label">State</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Goa">
                            </div>
                            <div class="mb-3 w-100">
                                <label for="exampleFormControlInput1" class="form-label">City</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1"
                                    placeholder="Margao">
                            </div>
                            <div class="mb-3 w-100">
                                <label for="exampleFormControlInput1" class="form-label">HNO</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1"
                                    placeholder="1613/2">
                            </div>
                        </div>
                        <div class="d-flex justify-content-center py-3"><button
                                class="btn btn-primary shadow-0 rounded-0 w-50 ">Save Address</button></div>
                    </form>

                </ng-template>
            </ngb-panel>

            <ngb-panel id="static-3" [disabled]="false">
                <ng-template ngbPanelTitle>
                    <button class="btn btn-primary btn-sm">3</button> <span
                        class="fs-6 ps-3 fw-bold cap text-dark">PAYMENT OPTIONS</span>
                </ng-template>
                <ng-template ngbPanelContent>

                    <div class="py-4 d-flex justify-content-around">
                        <div class="form-check ">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">UPI</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2"
                                checked>
                            <label class="form-check-label" for="flexRadioDefault2">Credit / Debit / ATM card</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3"
                                checked>
                            <label class="form-check-label" for="flexRadioDefault3">Net Banking</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3"
                                checked>
                            <label class="form-check-label" for="flexRadioDefault3">Cash on Delivery</label>
                        </div>
                    </div>
                        <div class="d-flex justify-content-center py-3">
                            <button class="btn btn-primary shadow-0 rounded-0 w-50">Proceed to pay</button>
                        </div>
                </ng-template>
            </ngb-panel>

        </ngb-accordion>
    </div>
</div>