<div class="container-fluid overflow-hidden" style="background-color: #565656; min-height: 100vh;">
    <!-- <h2 class="text-light text-center pb-4 fs-1 fw-bolder">Thank You!</h2> -->
    <div class="popper"></div>
    <div style="height: 70vh;" class=" container justify-content-center d-flex align-items-center flex-column gap-4">
        <img src="../assets/images/thankyou.gif" alt="thank you" style="margin-top: 5em; " class="img-fluid">
        <button class="btn btn-success">Continue Shopping</button>
    </div>
</div>