.popper{
    background-image: url("/assets/images/popper.gif");
    min-height: 100%;
    position: absolute;
    width: 100%;
    overflow: hidden;
    z-index: 1;
    pointer-events: none;
    top: 0;
    right: 0;
}

fa-icon {
    color: #0d6efd;
    padding:0 0.5em;
    font-size: 1.3rem;
}