<div class="container-fluid py-5" style="background-color: #565656; min-height: 100vh;">
    <h2 class="text-light text-center pb-4 fs-1 fw-bolder">Checkout!</h2>
    <div class=" c-p py-5 d-flex justify-content-center align-items-center gap-4 justify-content-around flex-lg-row
        flex-column-reverse">

        <!-- Total Items -->
        <div class="d-flex flex-column gap-3 align-items-center">

            <div class=" d-flex card flex-md-row overflow-hidden border-0 i-c"
                style=" color: #CDCDCF; background-color: #34363A;" *ngFor="let item of cartItem">
                <div class="img"><img src="{{item.thumbnail}}" alt="thumbnail" class="img-fluid" style="height: 100%;">
                </div>
                <div class="d-flex flex-column p-4 p-lg-3">
                    <h2>{{item.title}}</h2>
                    <div class="badge bg-secondary" style="width: fit-content;">{{item.brand}}</div>
                    <div class="d-flex align-items-end gap-1">
                        <p class="text-light pt-3 fs-4"> <b>{{ percentage(item.discountPercentage,item.price) |
                                currency: 'USD' }} </b> <s class="fs-6 text-secondary">
                                {{item.price | currency: 'USD' }}</s>
                        </p>
                        <span class="text-success py-3 fw-bolder">{{item.discountPercentage}}% off</span>
                    </div>
                    <p>Delivered By 23th oct 2023</p>
                    <button class="btn btn-outline-warning text-light mx-4 rounded-5 "
                        (click)="deleteCartItems(item.id)">Remove
                        Item</button>
                </div>
            </div>
        </div>


        <!-- PRICE DETAILS -->
        <div class="card px-4 px-sm-5 py-4 align-self-start c-w">
            <h2 class="text-center text-secondary py-4">PRICE DETAILS</h2>
            <div>
                <div class="d-flex gap-4 justify-content-between">
                    <p>Price ({{cartItem.length}} item)</p>
                    <p>{{totalPrice | currency: 'USD'}}</p>
                </div>
                <hr class="bg-secondary" style="height:2px; width:100%; border-width:0; margin: 0; margin-bottom: 1em;">
            </div>

            <div>
                <div class=" d-flex gap-4 justify-content-between">
                    <p>Discount</p>
                    <p class="text-success"> {{totalPercentage}}% off</p>
                </div>
                <hr class="bg-secondary" style="height:2px; width:100%; border-width:0; margin: 0; margin-bottom: 1em;">
            </div>

            <div>
                <div class="d-flex gap-4 justify-content-between">
                    <p>Delivery Charges</p>
                    <p class="text-success">FREE</p>
                </div>
                <hr class="bg-secondary" style="height:2px; width:100%; border-width:0; margin: 0; margin-bottom: 1em;">

            </div>

            <div>
                <div class="d-flex gap-4 justify-content-between">
                    <p>Total Amount</p>
                    <p>{{total | currency: 'USD'}}</p>
                </div>
                <hr class="bg-secondary" style="height:2px; width:100%; border-width:0; margin: 0; margin-bottom: 1em;">

            </div>
            <p class="text-success">You will save {{ totalPercentage}}% on this order</p>
            <button class="btn text-dark btn-outline-success me-3  rounded-5 fw-bold d-flex justify-content-center align-items-center gap-1 my-2">
            <img src="../assets/images/lightning-fill.svg" alt="buy Now" routerLink="/checkout"> Buy Now</button>
        </div>
    </div>
</div>