<div class="container-fluid py-5" style="background-color: #34363A; min-height: 100vh;">
    <div class="container-lg py-5 d-flex justify-content-center align-items-center flex-column">
        <h2 class="text-light text-center pb-4">Check Out!</h2>
        <div class="card w-50 px-4">
            <h2 class="text-center text-secondary py-4">PRICE DETAILS</h2>
            <div class="d-flex gap-4">
                <p>Price (1 item)</p>
                <p>₹21,999</p>
            </div>
            <div class="d-flex gap-4">
                <p>Discount</p>
                <p class="text-success"> -₹2,890</p>
            </div>
            <div class="d-flex gap-4">
                <p>Delivery Charges</p>
                <p class="text-success">FREE</p>
            </div>

            <div class="d-flex gap-4">
                <p>Total Amount</p>
                <p>₹19,138</p>
            </div>
            <p class="text-success">You will save ₹2,861 on this order</p>
        </div>
    </div>
</div>