<div class="container-fluid p-0" style="background-color: #1F2024;">
    <div class="container-lg px-4 align-items-center pt-5 mt-2">
        <h2 class="text-center text-light py-4 fs-1">Order Here</h2>
        <div class="row gap-5 py-5 justify-content-center align-items-center">

            <div class="card col-4 p-0 border-0 rounded-4 overflow-hidden"
                style="width: 18rem; background-color: #34363A; color: #CDCDCF;" *ngFor="let product of products">
                <img src={{product.thumbnail}} class="card-img-top" alt="products" style=" height: 13em;">
                <div class="card-body">
                    <div class="d-flex justify-content-between gap-2 pe-4 fw-bold">
                        <div class="title">
                            <h5 class="card-title"> {{product.title}} </h5>
                            <span class="fw-bold "> {{product.brand}} </span>
                        </div>
                        <div class="price text-light fst-italic">${{product.price}} </div>
                    </div>
                    <p class="card-text my-3"> {{product.description}} </p>
                    <b>Ratings: <span class="text-success"> <img src="../assets/images/star.png" alt="star"
                                height="15px"> {{product.rating}}</span></b>
                    <button class="btn btn-primary d-block my-3 px-4 rounded-5">Buy</button>
                    <!--<button class="btn btn-warning mx-3">Add to Cart</button> -->
                </div>
            </div>

        </div>
    </div>
</div>