<div class="container-fluid" style="background-color: #1F2024;">
    <div class="container-lg px-4 align-items-center">
        <h2 class="text-center text-light py-4 fs-1">Shop Now</h2>
        <div class="row gap-5 my-5">

            <div class="card col-4 p-0 border-0 rounded-4 overflow-hidden"
                style="width: 18rem; background-color: #34363A; color: #CDCDCF;" *ngFor="let product of products">
                <img src={{product.thumbnail}} class="card-img-top" alt="products" style=" height: 13em;">
                <div class="card-body">
                    <h5 class="card-title"> {{product.title}} </h5>
                    <span class="fw-bold "> {{product.brand}} </span>
                    <p class="card-text my-3"> {{product.description}} </p>
                    <b>Ratings: <span class="text-success">{{product.rating}}</span></b>
                    <!-- <button class="btn btn-primary">Buy</button>
                    <button class="btn btn-warning mx-3">Add to Cart</button> -->
                </div>
            </div>

        </div>
    </div>
</div>