<h2 class="py-4 text-center">{{items.title}}</h2>
<div class="container">

    <div class="row w-100">
        <div class="col-6">
            <ngb-carousel class="">
                <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                        <img src="{{items.images[0]}}" alt="Random first slide">
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                        <img src="{{ items.images[1] }}" alt="Random second slide">
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                        <img src="{{ items.images[2] }}" alt="Random third slide">
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                        <img src="{{ items.images[3] }}" alt="Random third slide">
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
        <div class="col-6">
            <h3>{{items.title}}</h3>
            <b>Ratings: <span class="badge text-light bg-success border-5"> {{items.rating}} <img
                        src="../assets/images/star.png" alt="star" height="15px"> </span></b>
            <p class="text-success"> {{items.price}} </p>
        </div>
    </div>
</div>